header {
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
  background-color: gray;
  color: white;

  a {
    padding-left: 10px;
  }
  a:link {
    color: white;
  }

  a:visited {
    color: white;
  }

  a:active {
    color: white;
  }  
}

.user-icon {
  font-size: 20px;
}
